@import 'variables' ;

.presentacion {
background-color: $color-5;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: $fuente-1;
    p{
        margin: 10px;
    }
}

.presentacion {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



@media only screen and (min-width: 992px) {
    .presentacion {
    background-color: $color-5;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: $fuente-1;
    }
    p {
        width: 70%;
    }
}