@import 'variables';



.informacion-personal {
    display: flex;
    background-color: $color-3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 110vh;
    
   
.card{
    margin-top: 25px;
    height: 680px;
    width: 350px;
 font-size: 25px;
 background-color: wheat;
 font-family: $fuente-2;
 .card-title {
    font-size: 25px;
    }
  }

}
 @import 'estilo-boton';
