@import 'variables'; 

.contacto {
    background-color: $color-3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
    font-family: $fuente-1;
    gap: 50px;
    
  

    h2 
    {
       margin-top: 25px;
        font-size: 60px;
        margin: 10px;
    }
    h4 
    {
        justify-content: center;
        font-size: 25px;
        margin: 10px;
    }

    a
    {
        font-size: 30px;
        margin: 10px;
        color: $color-1;
        font-weight: bold;
    }

    
}


@media only screen and (min-width: 992px) {

    
    .contenedor {
        background-color: $color-3;
        height: 100vh;
        display: flex;
        justify-content:center ;
        align-items: center;
        text-align: center;
        font-family: $fuente-1;
        gap: 90px;
        
        
        .info {
            width: 50%;
            margin: 10px;
            
            a{
                font-size: 30px;
                margin-top: 50px;
                color: $color-1;
                font-weight: bold;
            }   
        }
      
    
        h2 
        {
           margin-top: 25px;
            font-size: 65px;
            margin: 10px;
        }
        h4 
        {
            justify-content: center;
            font-size: 35px;
            margin: 10px;
        }
    
 
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.contenedor-boton{
    margin-bottom: 100px;
}
}